<h1><%= @user.username %></h1>

<%= image_tag @user.profile.avatar.url %>

<h4>About Me:</h4>
<p><%= @user.profile.bio %></p>

<h4>Age:</h4>
<p><%= @user.profile.age %></p>

<h4>Users I am following:</h4>
<ul>
	<% @user.profile.following.each do |profile| %>
		<li><%= profile.user.username %></li>
	<% end %>
</ul>
